{% extends 'layout.html' %}
{% block content %}
    <h3>{{ new_heading }}</h3>
    {% for contact in contacts %}
        <article class="media content-section">
            <div class="media-body">
              <div class="article-metadata">
                <h6>Email: <a href="{{ url_for('contact', contact_id=contact.id) }}">{{ contact.email }}</a></h6>
                <span>Name: </span>
                <a class="mr-2" >{{ contact.name }}</a><br>
                <span>Phone: </span>
                <small class="text-muted">{{ contact.phone}}</small>
              </div>
                <small>City: {{ contact.city }}</small> <br>
                <small class="text-muted">Address: {{ contact.address }}</small>
            </div>
        </article>
    {% endfor %}

{% endblock content %}